.box {
    display:inline-block;
}

h1 {
    font-family: Papyrus, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: olive;
    text-align: center;
    font-size: 50px;
}

.centre-images {
    text-align: center;
}